.App {
  background-color: #0f172a;
  min-height: 100vh;
  padding: 30px 40px;
  color: white;
  margin-left: 260px;
}

@media (max-width: 1200px) {
  .App {
    margin-left: 0;
  }
  
  .sidebar {
    display: none;
  }
  
  .cards-container {
    flex-direction: column;
  }
  
  .lists-container {
    flex-direction: column;
  }
}
